#introduction {
    display: flex;
    align-items: center;

    figure {
        flex: 1;
    }

    img {
        display: block;
        margin: auto;
        width: 80%;
    }

    article {
        flex: 1
    }
}

#portfolio {
    width: 100%;
    box-sizing: border-box;

    h2 {
        text-align: center;
    }

    #filters {
        width: 100%;
        gap: 15px;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

}

#contact {
    width: 50%;
    margin: auto;

    * {
        text-align: center;
    }

    label {
        text-align: left;
    }
}