#login {
    width: 50%;
    margin: 20vh auto;

    h2 {
        text-align: center;
    }

    #forgotten {
        font: 500 1em $txt-main;
        text-decoration: underline;
        border: none;
        background-color: transparent;
    }
}