#filters {
    button {
        @include btnRounded;
        font: 700 1rem Syne;
        color: $main-color;
        background-color: transparent;
        width: auto;
        border: 1px solid $main-color;

        &:focus {
            color: $white;
            background-color: $main-color;
            outline: $main-color;
        }
    }
}

input {
    height: 50px;
    font-size: 1.2em;
    @include inputOmbre;}

input[type="submit"] {
    @include btnRounded;
    @include mainColorBtn;
    font-family: 'Syne';
    font-weight: 700;

    &:hover {
        background-color: $main-color_contrast;
    }
}

.lineDecor {
    border: 1px solid $dark-grey;
    width: 100%;
    margin: 20px 0;
}

.btnTrash{
    border: none;
    background-color: transparent;
}