.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $bg-popup;
    justify-content: center;
    display: flex;
    align-content: center;
}

.popupNav {
    width: 580px;
    box-sizing: border-box;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .btnPopup {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 25px;
        line-height: 25px;
    }

    .closePopup {
        display: flex;
        justify-items: flex-end;
    }
}

.popupContent {
    width: 630px;
    height: 690px;
    display: flex;
    box-sizing: border-box;
    padding: 25px;
    gap: 25px;
    align-items: center;
    background-color: $white;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-self: center;

    input[type="submit"] {
        width: 60%;
    }
}

.page-one {
    width: 420px;
    display: flex;
    flex-direction: column;
}

.miniGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 8px;

    figure {
        width: 100%;
        display: flex;
        position: relative;
        animation: name duration timing-function delay iteration-count direction fill-mode;

        img {
            display: flex;
            width: 100%;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;

            &:hover {
                transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }

        i {
            display: flex;
            position: absolute;
            right: 4px;
            top: 4px;
            padding: 4px;
            border-radius: 2px;
            font-size: 0.6rem;
            background-color: $black;
            color: $white;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;

            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: $white;
                color: $black;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
            }
        }
    }
}

.page-two {
    width: 420px;
    display: flex;
    flex-direction: column;

    .selectPhoto {
        * {
            margin: 0;
        }
        .getImg{
            display: flex;
            justify-content: center;
        #explore{
            position: absolute;
            opacity: 0;
            z-index: 1;
        }}
    }
}

.submissionPhoto {
    display: flex;
    flex-direction: column;

    .selectPhoto {
        display: flex;
        flex-direction: column;
        align-content: center;

        .fa-image {
            font-size: 75px;
            line-height: 75px;
        }
    }
}